th, td{
	text-align: center; 
	vertical-align: middle;
}

.tbinput{
	clear: both;
}

body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}

/* login forma */
.login-form {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border-radius: 5px;
  background-color: #EAEAEA;
  padding: 15px;
 
}
.login-form-text{
	 color: #025F6B;
}
.button-sub{
	border-radius: 5px;
	padding: 10px;
	margin-top: 15px;
	border: none;
	background-color: #17a2b8;
	color: white;
	font-weight: bold;
}
.button-sub:hover{
	color: #B8286D;
}

/* loginforma end */

.homediv{
	margin-top: 15%;
}
/* home page link */
.pageLink{
	padding: 5px;
	background-color: #EAEAEA;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	display: table-cell;
	border-radius: 5px;
	font-weight: bold;
	color: #025D6B;
}
.pageLink:hover{
	color:#B8286D;
	background: linear-gradient(35deg, #B8A404 0%, rgba(255,255,255,0.85) 60%, rgba(255,255,255,0.85) 1000%);
}

.homebuttons .pageLink{
	min-width: 209px;
	width: 209px;
	padding: 10px;
	height: 130px;
	font-size: 1.5rem;
}

.homebuttdiv{
	margin-bottom: 15px;
}