th, td{
	text-align: center; 
	vertical-align: middle;
}

.tbinput{
	clear: both;
}

body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}

/* login forma */
.login-form {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border-radius: 5px;
  background-color: #EAEAEA;
  padding: 15px;
 
}
.login-form-text{
	 color: #025F6B;
}
.button-sub{
	border-radius: 5px;
	padding: 10px;
	margin-top: 15px;
	border: none;
	background-color: #17a2b8;
	color: white;
	font-weight: bold;
}
.button-sub:hover{
	color: #B8286D;
}

/* loginforma end */

.homediv{
	margin-top: 15%;
}
/* home page link */
.pageLink{
	padding: 5px;
	background-color: #EAEAEA;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	display: table-cell;
	border-radius: 5px;
	font-weight: bold;
	color: #025D6B;
	border-color:transparent;
	
}
.pageLink:hover{
	color:#B8286D;
	border-color:transparent;
	cursor: pointer;
	background: linear-gradient(35deg, #B8A404 0%, rgba(255,255,255,0.85) 60%, rgba(255,255,255,0.85) 1000%);
}

.homebuttons .pageLink{
	padding: 10px;
	min-height: 250px;
	font-size: 1.5rem;
	display: flex;
  align-items: center;
  justify-content: center;
}

.homebuttdiv{
	margin-bottom: 15px;

}

.dbfl{
	display: block;
	float:left;
}
.act-item{
	border-radius: 50%;
	padding: 10px 6px;
	line-height: 0px;
	margin-right: 6px;
	position: relative;
}
.show-item{
	background: #0d6efd  url("../images/icons/eye.png") no-repeat center center;
	width: 21px;
	height: 20px;
}
.tooltipas{
  visibility: hidden;
  width: 80px;
  height: 22px;
  background-color: inherit;
  color: inherit;
  border-radius: 10px;
  padding: 2px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Position the tooltip */
  left: 5px;
  top: -15px;
  position: absolute;
  z-index: 1;
}

.act-item:hover .tooltipas{
  visibility: visible;
}

.table-buttons{
	min-width: 130px;
	font-size: 13px;
	padding: 5px 10px;	
}
.ceckbox-col{
	width: 132px;
}
.table{
	border-radius: 5px;
	overflow: hidden;
	font-size: 13px;
}

.table tfoot td{
	border-bottom-width: 0;
}
.btn-container{
	padding: 2px 9px 2px 15px;
	display: inline-block;
	vertical-align: middle;
}
.col-item-checked{
	width: 1.25em;
	height: 1.25em;
}

.btn-dangeris{
	background-color: #B8286D;
	color: white;
}
.btn-dangeris:hover{
	color: white;
	background-color: #922057;
}
.level1{
	font-size:16px;
}
.level2{
	padding-left:10px;
	font-size:15px;
}
.level3{
	padding-left:20px;
	font-size:14px;
}
.level4{
	padding-left:30px;
}
.level5{
	padding-left:40px;
}
.level6{
	padding-left:50px;
}
.level1, .level2, .level3{
	font-weight: bold;
}
.level5, .level6{
	font-style: italic;
}